@font-face{
    font-family: 'ProstoOne-Regular';
    src: url('../fonts/ProstoOne-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat-Regular';
    src:url('../fonts/Montserrat-Regular.ttf') ;
}
@font-face{
    font-family: 'Montserrat-Light';
    src:url('../fonts/Montserrat-Light.ttf') ;
}
@font-face{
    font-family: 'Montserrat-Bold';
    src:url('../fonts/Montserrat-Bold.ttf') ;
}
